NODE_ENV=
BACKEND_URL=https://api.zaprun.site
FRONTEND_URL=https://app.zaprun.site
PROXY_PORT=443
PORT=4000

DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=zaprunteste
DB_PASS=desbravar123
DB_NAME=zaprunteste

JWT_SECRET=6o9K07LXkrnxNvAMBBFfJ7i0a3TjiHYmdpmhxwN17ms=
JWT_REFRESH_SECRET=szyQKFoDWasUVEfdbk5XBvN0v1Sl+QSdyxh3PK1c3ro=

REDIS_URI=redis://:desbravar123@127.0.0.1:5000
REDIS_OPT_LIMITER_MAX=1
REGIS_OPT_LIMITER_DURATION=3000

USER_LIMIT=999
CONNECTIONS_LIMIT=999
CLOSED_SEND_BY_ME=true

MAIL_HOST="smtp.hostinger.com"
MAIL_USER="contato@seusite.com"
MAIL_PASS="senha"
MAIL_FROM="Recuperar Senha <contato@seusite.com>"
MAIL_PORT="465"

